# Index

- **Print statement**    


- **value and type**    


- **Python syntax rules**   


- **Identifiers**   


- **Assigning Values to variable and Printing**    


- **Keywords**   


- **Data Types**
    * int 
    * float
    * str
    * bool   
    

- **Activities**

---

<br>      
<br>

## Print Statement

- **syntax:** `print(statement)`
    - where the statement can be a string, or an identifier or an expression    
    
    
- Used to display something on the running console


- eg: 
    - To show the results of mathematical problem
    - To convey some messages to the user
    - To show the output results of the problem

In [2]:
#To print a message to screen:
print("Hello World!")

Hello World!

In [3]:
print("Hi I am Tony")

Hi I am Tony

In [5]:
#newline in print
print("Hello Firends \nMy name is Tony")

Hello Firends
My name is Tony

In [6]:
#tab space in print
print("Hello Friends \tMy name is Tony")

Hello Friends 	My name is Tony

In [7]:
#multiple prints in same statement
print("Hai","Hello","How are you?")

Hai Hello How are you?

In [ ]:
print("Hai")
print("Hello")
print("How are you?")

<br>      
<br>

**<font color=Brown>Key Notes:</font>**

1. Anything written within quotes inside the print statement will print as it as onto screen.   

2. Commas can be used to separate diffrent expressions in print method.    

3. "\n" can be used for newline and "\t" can be used for tab space    

4. Every print statement automatically add one newline at the end.

<br>      
<br>

**<font color=red>Question 1</font>**     
Suppose, you have two print statements in your program first one to print your first name and the other one to print the last name. But in the output console you want to see the output in single line.

In [1]:
#Normal case
print("Amit")
print("Kumar")

Amit
Kumar

In [2]:
#solution for question1
print("Amit",end=' ')
print("Kumar")

Amit Kumar

In [3]:
# putting a comma between first name and last name

print("Amit",end=",")
print("Kumar")

Amit,Kumar

<br>      
<br>

**<font color=Brown>Key Notes:</font>**      

- Every print statement automatically add one newline at the end.     

- If you want to remove/replace the newline character from the end, you can use `end` parameter in print statement along with a specific delimiter instead of newline.     

- **Syntax:**   
`print("text",end='delimiter')`

<br>      
<br>       
<br>

## Variables, Values and Type

**Values:**
Possible values that python can work with. Possible values that python can handle is listed below:
- Numbers
- Alphabets
- Special characters
- Boolean values

In [6]:
# number values1
print(10)

10

In [7]:
# number values1
print(-17)

-17

In [8]:
# decimal points
print(9.8)

9.8

In [10]:
# decimal points
print(3.14)

3.14

In [ ]:
# single alphabet
print('a')

In [11]:
# string
print('Hello World!')

Hello World!

<br>

**Variables:**        
variable is a kind of storage box that holds a value. Whenever you want to work with the value, you access it using the variable.Just as we store things in boxes in the real world, so you store values in variables when you are writing a program.
In otherwords, these are the reserved memory locations to store the values. 
And they are identified by their names.

<br>

In [1]:
a = 10
print(a)

10

In [2]:
b = 12.55
print(b)

12.55

In [4]:
c = "Chocolate is sweeter than Vannilla"
print(c)

Chocolate is sweeter than Vannilla

In [6]:
#Example
name = 'Aditi'
age = 15
weight = 48.5

print("name")
print("age")
print("weight")

print("----------")

print(name)
print(age)
print(weight)

name
age
weight
----------
Aditi
15
48.5

<br>

**Explanantion:**       
In the above example name, age and weight are the variables where as 'Aditi', 10 and 48.5 are the values that holds by the variables respectively.     
When you print the variable name using `print()` method, you will get the value as output. Note that variable name should not be in quotes.

<br>      
<br>

**<font color=Crimson>Note For Mentor:</font>**            
- Show them how memory_location , memory_address , variable_name, value are related to, with the help of some drawings.     

- Ask student to define some variables and print their value.

<br>      
<br>

## Python syntax rules

- Syntax is nothing but grammar rules for the coding
   - Spelling
   - Structure
   - Block of codes
   - Different notations has different meaning
   - Case sensitiveness
   - Reserved words

<br>      
<br>

**<font color=Crimson>Note For Mentor:</font>**       
- Explain each of the above mentioned basic elements of python syntax rules, you can use the normal communication language grammar rules as an example.

<br>

In [13]:
#syntax violation example1
print "Hello World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World!")? (<ipython-input-13-62d2f323d025>, line 2)

In [3]:
#syntax violation example2
print("Hello World!)"

SyntaxError: unexpected EOF while parsing (<ipython-input-3-89d7f5214439>, line 2)

In [14]:
#syntax violation example3
print("Hello World!)

SyntaxError: EOL while scanning string literal (<ipython-input-14-9edff7aefdbf>, line 2)

#### Indentation

- Python has no curly braces{} to represent the block of codes   

- Indentations are used to represent block of codes such as class, function, conditional branches, control blocks etc   

- <b><font color =blue>4 Spaces and 1 Tab</b></font> <br>

In [17]:
#indentation example1 if clause
a = 10
if a>5:
    print("A",end='=')
    print(a)

A=10

In [18]:
#indentation example2 function clause

def calculate():
    pass   
    pass
    pass

In [15]:
#indentation error example
print("Hello World!")
    print("Let us learn python")

IndentationError: unexpected indent (<ipython-input-15-4e3c8acd1b42>, line 3)

<br>      
<br>       
<br>

## Variable/identifiers naming

- *A python **identifier** is a name used to identify a variable, function, class, module, or other object.*

### Rules     

- Must start with a letter or underscore(_)
- Cannot start with a number
- Can only contain alphanumeric characters and underscore {a-z A-Z 0-9 _}
- They are case sensitive

In [19]:
# variable names example1 possible cases
name = "Arun"
print(name)

Name = "Tony"
print(Name)

name_ = "Seetha"
print(name_)

first_name = "Nila"
print(first_name)

name1 = "Ajmal"
print(name1)

_name = "Mary"
print(_name)

Arun
Tony
Seetha
Nila
Ajmal
Mary

In [20]:
# variable names example2 - violation

name. = "nikhil"
print(name.)

SyntaxError: invalid syntax (<ipython-input-20-a04bbf3467a0>, line 3)

In [21]:
# variable names example2 - violation
email@ = 'abcd@yahho.com'
print(email@)

SyntaxError: invalid syntax (<ipython-input-21-b05a9be99614>, line 2)

In [22]:
1st_name = "Amit"
print(1st_name)

SyntaxError: invalid syntax (<ipython-input-22-b7ec5afb735e>, line 1)

<br>

**<font color=Crimson>Note For Mentor:</font>**             
- Show the students some cases of identifiers name, and let them identify the violations of naming rules.

<br>        
<br>

## Assigning Values to Variable and Printing them

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.     

- Using Assignment operator(=)
- The value present in the RHS will be assigned to the variable name present in the LHS.    

Look at the following examples:

In [2]:
#variable assignment for numbers
a = 13
b = -5
pi = 3.14

# Here, 13,-5, and 3.14 are the values assigned to the variables a, b and pi respectively.

print(a,b,pi)

13 -5 3.14

In [25]:
#variable assignment for strings
str1 = 'A'
str2 = 'Hello'
str3 = 'Hello World'
str4 = 'abcd@efgh#1234'

print(str1)
print(str2)
print(str3)
print(str4)

A
Hello
Hello World
abcd@efgh#1234

In [1]:
#variable assignment for None
var = None
print(var)

None

In [3]:
#printing variable value along with a string message
num = 55
print("Number=",num)

Number= 55

In [4]:
#printing variable value along with a string message
nation = "India"
print("Nation =",nation)

Nation = India

<br>

#### Multiple assignment

- Can be assign same value for different variables in same line
- Also we can assign different values for different variables in single line

In [29]:
#Show assigning in multipline first
a = 20
b = 20
c = 20
print(a,b,c)

20 20 20

In [30]:
#Show example for case1
a=b=c = 20
print(a,b,c)

20 20 20

In [31]:
#show example for case2
a,b,c = 10,5,50
print(a,b,c)

10 5 50

In [32]:
#show example for case2 with diffferent datatypes
#Let them answer
a,b,c,d = 'Hai',1,4.8,-6
print(a,b,c,d)

Hai 1 4.8 -6

<br>        
<br>

**<font color=red>Question2</font>**     
Declare a variable named `class` and print its value to the console.

In [33]:
#code for question2
class = 12
print(class)

SyntaxError: invalid syntax (<ipython-input-33-2a18dfa9cff3>, line 2)

<br>        
<br>

**<font color=red>Question3</font>**      
Declare a variable named `global` and print its value to the console.

In [34]:
#code for question 3
global = 15
print(global)

SyntaxError: invalid syntax (<ipython-input-34-243d1de5b8c3>, line 2)

<br>        
<br>

**<font color=Crimson>Note for Mentor:</font>**           
1. Can we write x=100 instead of x = 100?             
    - Yes we can; But follow the second method, beacuse it will enhance the readability.          

2. Is that possible to re-assign a variable?     
    - Yes we can; Then the lastest assigned value will be there in the variable. Look at the following example.

In [5]:
color = "Red"  # Assign the color red to the variable color
print(color)

color = "Blue"    #Re-assigning color with blue
print(color)

color = "Green"
print(color)

Red
Blue
Green

<br>        
<br>      
<br>

## Keywords

- Keywords are **reserved words**.     
- Cannot use them as identifier names.     
- All the keywords of python are in lower case letters.

| and |assert | break | class |
| ---- | ---- | ----- |------|
| continue | def | del | elif |      
| else | except | exec | finally |
| for | from | global | if | 
| import | in | is | lambda |    
| not | nor | pass | print |  
| raise | return | try | while |
| with | yield |     |   |

<br>

In [35]:
#use keywords as identifier
break = "10 AM"
class = 11
print(break,class)

SyntaxError: invalid syntax (<ipython-input-35-76dc4267eca3>, line 2)

In [36]:
#use keywords as identifier
try = 5
pass = "No"
print(try,pass)

SyntaxError: invalid syntax (<ipython-input-36-6389e98f9fea>, line 2)

<br>

**<font color=Crimson>Note For the Mentor</font>**         
Note the name of the error: `SyntaxError: invalid syntax`.

<br>        
<br>      
<br>

## Data Types

People tend to store things in the wrong sort of box. For example, you might find a pair of shoes in a garment bag and a supply of pens in a shoebox. However, Python likes to be neat. In order to achieve this we have categorised the variables and their values into several classes called data types. 
Basically types are the category or the class in which the values comes under.

- **Numeric**
    - integers (signed integers)
    - float    (floating point real values)
    - complex  (complex numbers having real and imaginary parts)   
    
- **String**

- **Boolean**

### Numeric

#### int
This data type can be positive integers, negative integers and zero.
In general Integers are represented by the `int` data type.

In [38]:
#example for +integer
a = 8
b = 1234
c = 1000000
print(a)
print(b)
print(c)

8
1234
1000000

In [39]:
#example for -integer
a = -2
b = -111
print(a)
print(b)

-2
-111

In [40]:
#example for zero
x = 0
print(x)

0

<br>

#### float
Any number that includes a decimal portion is a floating-point value. For example, 10.0 has a decimal part, so it’s a floating-point value.

In [41]:
#example for floating point
d = 10.5
e = 6.6666666666666
f = -3.2345
print(d)
print(e)
print(f)

10.5
6.6666666666666
-3.2345

<br>

**<font color=Brown>Note:</font>**      
People usually thinks `1` and `1.0` are same. But in python they are equal in value but differs in type.      
`1` comes under the type of `int` on the other hand `1.0` comes under the type of `float`.

<br>

#### String (str)
**<font color =green>anything within the double quotes is considered as str type.</font>**          
A string is simply any grouping of characters you place within double quotes. The characters can be alphabets, special characters or numbers.     
Note that quote is necessary for the `str` type.     
Look at the following examples:

In [42]:
#example for string1 - alphabets within quotes
str1 = "a"
str2 = "hai"
print(str1)
print(str2)

a
hai

In [43]:
#example for string2 - numbers within quotes
str3 = "123"   
print(str3)

123

In [44]:
#example for string3 - special characters within quotes
str3 = "#Holi"
print(str3)

#Holi

In [45]:
#example for string4   - decimal points within quotes
str4 = "45.0559"
print(str4)

45.0559

<br>

##### Boolean(bool)

Computers always provide a straight answer which can be either True or False. There is no in between answers. 
And this behaviour will be very useful in decision making. In order to replicate this behaviour of computer, python has a data type called `Bool`.
- **2 states:<font color =green>True</font> or <font color =red>False</font>**          


- It is equivalent to the following real-life states:
    - ON and OFF
    - Truth or Dare
    - 1 or 0
    - Yes or No

<br>

**<font color=Crimson>Note For Mentor:</font>**       
- Ask them for some real-time example where we need bool data.     
- eg:-      
```      
    - Yes/No questions     
    - To identify the state of an electronic/electric device (ON/OFF).    
```

In [46]:
# bool example1
x = True
y = False
print(x,y)

True False

In [54]:
# bool example2
case1 = True
case2 = True
case3 = False
print(case1,case2,case3)

True True False

In [55]:
# bool example 3 - error case
p = true
q = false
print(p,q)

NameError: name 'true' is not defined

In [56]:
# bool example 4 - error case
p = TRUE
q = FALSE
print(p,q)

NameError: name 'TRUE' is not defined

<br>        
<br>

## type() function

- Used to get the data type of the values
- **syntax:** `type(value)`

<br>

**<font color=Crimson>Note For Mentor:</font>**      
- Show them as many cases as possible to make them understand the data types and type() function.

In [61]:
#type() example1
type(100)

int

In [62]:
#type() example2
type(-12)

int

In [64]:
#type() example3
type("Apple")

bool

In [65]:
type(True)

bool

In [66]:
a = 18
b = 40.25
c = -22
d = 0

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

In [67]:
str1 = "H"
str2 = "This is the use of type function"
str3 = "#"
str4 = "1234"
print(type(str1))
print(type(str2))
print(type(str3))
print(type(str4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [68]:
val1 = True
val2 = False
val3 = "True"
val4 = "False"
print(type(val1))
print(type(val2))
print(type(val3))
print(type(val4))

<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>

<br>        
<br>

**<font color=red>Question4</font>**      
Predict the output of the following codes:          
`     
    print(type("1000"))      
`

In [ ]:
#type() example1 ----- predict the output
print(type(66.66))

In [ ]:
#type() example2 ----- predict the output
print(type(-12.21))

In [ ]:
#type() example3 ----- predict the output
print(type(0))

In [ ]:
#type() example4 ----- predict the output
print(type("Football"))

In [ ]:
#type() example5 ----- for complex
print(type(6+5j))

In [ ]:
#type() example6 -----
print(type("True"))

<br>        
<br>

**<font color =red>Question 5</font>**              
Check if the following names can be used as a variable or not?            

```    
    1. print = 15     
    2. a = "ak"    
    3. b = 33     
    4. c = 2.5    
    5. d = [1,2,3,4]    
    6. list*name = [1,2,3,4]    
    7. 2list*name = [5,6,8]    
    8. list_names = [5,6,8]    
    9. 3_list_name = [1,5,10]    
    10.13_name = "Arjun"     
```

1. No: Keyword
2. Yes
3. Yes
4. Yes
5. Yes
6. No: There is one special character other than underscore(_)
7. No: Starting with a number is not allowed
8. Yes
9. No: Starting with a number is not allowed
10. No: Starting with a number is not allowed

<br>        
<br>

**<font color =red>Question 6</font>**             
Check the following names can be used as a variable or not?         

```     
    1. print = 15     
    2. print_number = 15      
    3. print 13 = 15     
    4. print13 = 15     
    5. print_1 = 30     
    6. print1 = 20     
    7. print2 = 50     
    8. PrintNum = "Printing Numbers"     
    9. PRINT = "Yes"           
```

Answer:      
1. No, because `print` is a keyword it cannot be used as variable.     
2. Yes, The variable `print_number` has satisfied all the rules of naming.     
3. No, There is a space in the variable name `print 13` which is not allowed.    
4. Yes, The variable `print13` has satisfied all the rules of naming.             
5. Yes, The variable `print_1` has satisfied all the rules of naming.          
6. Yes, The variable `print1` has satisfied all the rules of naming.            
7. Yes, The variable `print2` has satisfied all the rules of naming.            
8. Yes, The variable `PrintNum` has satisfied all the rules of naming.         
9. Yes, The variable `PRINT` has satisfied all the rules of naming.

<br>        
<br>

**<font color =red>Question 7</font>**        
What will be Output of the following code?          
 
```    
    number = 10     
    print(number,type(number))     
    print("number",type("number"))     
```

In [72]:
number = 10
print(number,type(number))
print("number",type("number"))

10 <class 'int'>
number <class 'str'>

<br>        
<br>

*<font color =grey>Understanding datatypes a bit more deeper</font>*<br>                         
**<font color =red>Question 8</font>**      
What will be Output of the following code?         
Also specify the type of the values          
```
    print(10.3)
    print("10")
    print("yes")
    print(22)
```

In [73]:
#show the results here!
print(10.3)
print("10")
print("yes")
print(22)

10.3
10
yes
22

<br>        
<br>

*<font color =grey>Understanding datatypes of Input</font>*              

**<font color =red>Question 9</font>**                
Write a program to print the sum of two numbers?          
number 1 = 15          
number 2 = 30           

**<font color =brown>Expected Output:</font>**       
```
    Sum = 45
```

In [76]:
#sum of two numbers
number1 = 15
number2 = 30
print("Sum =",number1+number2)

Sum = 45

<br>

**<font color=Crimson>Note For Mentor:</font>**         
- With the above program, show them how to print more formatted results.

------

<br>        
<br>

 # <font color=blue>ACTIVITIES</font>

<br>

**<font color=green>Light </font>**

1.  Perform the **subtraction** of two numbers, and print the result   
 
 
2.  Print the data type of the following variables:
 ```
    x = 19.0
    y = -25
    z = 0
    name = 'Irin'
    number = '20'
```
 
 
3.  Let a,b,c are three python variables. In which a holds your name, b holds your age and c holds your weight.    
     1. print the values of a,b and c
     2. print the data type of a,b and c

<br>      
<br>

**<font color=Purple>Mederate </font>**

4.  Let `X`=33 and `Y`=5.0, perform addition and save result into a variable named `sum`,     
     Then print value and type of `sum`.   
     
     
     
5.  Consider the following code snippet of python having some errors; identify the errors and fix it.
```
   name = Ajay
   age = '12'
   print("After 5 years, age of ", name," = ", age+5)
```

6. Consider the following code snippet for finding the sum of two numbers; identify the errors and fix it.
```
   num-1 = 10
   num-2 = 20.5
   print("sum=num-1+num-2")
```

<br>      
<br>

----

# Answers

In [1]:
# Activity 1
#-------------

a = 10
b = 20
print("Difference=",a-b)

Difference= -10

<br>

In [2]:
# Activity 2
#------------

x = 19.0
y = -25
z = 0
name = 'Irin'
number = '20'

print(type(x))
print(type(y))
print(type(z))
print(type(name))
print(type(number))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

<br>

In [3]:
# Activity 3
#-------------

a = 'John'
b = 25
c = 72.5

print(a,'\t',type(a))
print(b,'\t',type(b))
print(c,'\t',type(c))

John 	 <class 'str'>
25 	 <class 'int'>
72.5 	 <class 'float'>

<br>

In [4]:
# Activity 4
#-------------
X = 33
Y = 5.0
sum = X+Y
print("Sum=",sum)

Sum= 38.0

<br>

In [5]:
# Activity 5
#-------------

'''name = Ajay                                         # error quotes missing
age = '12'                                             # error for numbers no need of quotes
print("After 5 years, age of ", name," = ", age+5)'''  

name = 'Ajay'
age = 12
print("After 5 years, age of ", name," = ", age+5)

After 5 years, age of  Ajay  =  17

<br>

In [6]:
# Activity 6
#-------------

'''num-1 = 10                         # invalid variable name, hyphen not allowed
num-2 = 20.5                          # invalid variable name, hyphen not allowed
print("sum=num-1+num-2")'''           # mis placed quotes


num_1 = 10
num_2 = 20.5
print("sum=",num_1+num_2)

sum= 30.5

<br>

-------