## Index

- **Getting input from user**   
    - input() method     
    - Type of input data.     


- **Type Conversions**
    - int()
    - float()
    - str()
    - bool()


- **Activities**

---

<br>      
<br>

## Getting Input from user

- `input([prompt])` function reads one line from standard input and returns it as a string. 
- You can also write some prompt message in `input()` function while waiting for user input

### Syntax 
*for getting input from user*

```
input()
input("Text to be seen by user")
```

In [1]:
# Syntax for INPUT
input("Text to be seen by user:")
input()

Text to be seen by user:abcdefgh
12345678

'12345678'

In [2]:
#taking input and printing it
print(input("Enter your name:"))

Enter your name:Roger Federer
Roger Federer

In [3]:
#taking an integer input and printing it
print(input("Enter your age:"))

Enter your age:26
26

In [4]:
#taking a float value and printing it
print(input("Enter your weight:"))

Enter your weight:60.5
60.5

In [5]:
#taking a bool value and printing it
print(input("You like Python; True/False?"))

You like Python; True/False?True
True

In [6]:
#taking input and assigning it to a variable
x = input()
print(x)

10
10

In [1]:
#taking input and assigning it to a variable
x = input()
print("x=",x)

10
x= 10

In [2]:
# taking multiple inputs from user and print them
a = input("Enter a string:")
b = input("Enter an integer:")
c = input("Enter a floating point number:")
print(a,b,c)

Enter a string:qwerty
Enter an integer:21
Enter a floating point number:1.54
qwerty 21 1.54

In [3]:
#taking input for multiple variables in same line
a,b = input("Enter A:"),input("Enter B:")
print(a,b)

Enter A:10
Enter B:100
10 100

<br>

**<font color=Crimson>Note For Mentor:</font>**      
   Make them understand the difference between `input([prompt])` and `print()`.

<br>      
<br>

**<font color =red>Question 1</font>**     
Get the name and age of the user and print the details.

In [2]:
#Code for question 1
name = input("Enter your name:")
age = input("Enter your age:")
print("Name:",name)
print("Age:",age)

Enter your name:Sachin
Enter your age:21
Name: Sachin
Age: 21

<br>      
<br>

**<font color =red>Question 2</font>**        
Get the name of the student, school name and class.       
Print details in different lines.

In [3]:
#Code for question 2:: Method 1
name = input("Enter name:")
school = input("Enter school name:")
Class = input("Enter class:")
print("Name:",name)
print("Class:",Class)
print("School:",school)

Enter name:Nithya
Enter school name:Little Flower
Enter class:8
Name: Nithya
Class: 8
School: Little Flower

In [4]:
#Code for question 2:: Method 2
name = input("Enter name:")
school = input("Enter school name:")
Class = input("Enter class:")
print("Name:",name,"\nClass:",Class,"\nSchool:",school)  #Using escape characters

Enter name:Rafeeq
Enter school name:Public School
Enter class:7
Name: Rafeeq
Class: 7
School: Public School

<br>      
<br>

**<font color =red>Question 3</font>**           
Take two numbers from user and print their sum.        
```
    Enter number 1 = 30
    Enter number 2 = 25
    sum = 55
```

In [5]:
#Code for question 3
num1 = input("Enter number 1 =")
num2 = input("Enter number 2 =")
sum = num1+num2
print("Sum =",sum)

Enter number 1 =44
Enter number 2 =33
Sum = 4433

<br>      
<br>

**<font color=Crimson>Note For Mentor:</font>**       
- When you take inputs through input() method, by default the values will be in the form of strings.     

- In the above code, number1 and number2 has taken as strings.      
   
- When we try to perform add opeartions with two strings, Output will be a concatenated string.      

- i.e:-     
```      
         "44" + "33" = "4433" --- strings     
         44 + 33 = 77  ----------  numbers         
```

<br>      
<br>

### Type of the data taking through input()

- By default the data taking through input() will be in the string format

- Because `input()` reads data from standard input and return it as string.

**Note:** We cannot perform mathematical operations directly on the numbers getting through input()

<br>      
<br>

In [5]:
x = input()
print(x)
print(type(x))

13
13
<class 'str'>

In [9]:
# taking a string input and check its type
author = input("Enter your favourite author's name:")
print(author)
print(type(author))

Enter your favourite author's name:Paulo Coehlo
Paulo Coehlo
<class 'str'>

<br>

**<font color=brown>Note:</font>**         
Look at the type class `<class 'str'>`. This means that the input we have taken are saved as a string.      
Now let's see how the other data types are saving when we use `input()`.

<br>

In [6]:
# taking a single alphabet as input and check its type
letter = input("Enter a vowel character:")
print(type(letter))

Enter a vowel character:a
<class 'str'>

<br>      
<br>

**<font color=Crimson>Note For Mentor:</font>**         

- In python, both single character and multi-character values are considered as strings.     

i.e         
```     
    char = 'a'  -------> string     
    word = '#hello'----> string      
```     

- Also, there is no different meaning for single quotes and double quotes.      

- In python, Anything within the single quotes or double quotes are considered as string.

In [10]:
# taking an integer input and check its type
number = input("Enter your lucky number:")
print(number)
print(type(number))

Enter your lucky number:18
18
<class 'str'>

<br>      
<br>

**<font color=brown>Note:</font>**           
Numbers are also saved as str when we use `input()` method to take inputs from user.

<br>

In [7]:
# taking a float input and check its type
weight = input("Enter your weight:")
print(weight)
print(type(weight))

Enter your weight:55.8
55.8
<class 'str'>

In [8]:
# taking a bool input and check its type
option = input("Choose True/False:")
print(option)
print(type(option))

Choose True/False:True
True
<class 'str'>

<br>

**<font color=Brown>Note:</font>**               
- In order to convert the data input into desired input data type, we can use type conversion methods. As follows:

<br>      
<br>     
<br>

## Type Conversion

Sometimes, we may need to convert the built in data types from one type to another for convenience. In order to achieve this, we have type conversion methods available in python.

- How to convert a data from opne type to another type?
    - **string to integer**
    - **integer to string**
    - **string to float**
    - **float to string**
    - **integer to float**
    - **float to integer**
    - **int to bool**
    - **bool to int**

<br>

### Converting str into int
`int(value)` ----> Integer    
Where value can be str/float

In [10]:
#simple example for str ---> int
number = int("80")
print(number)
print(type(number))

80
<class 'int'>

In [14]:
# int(value)
a = "12"
print(type(a))
print("*------*")
b = int(a)
print(type(b))

<class 'str'>
*------*
<class 'int'>

In [14]:
a = "21" # str
b = 22.8 # float
convert_a = int(a) 
convert_b = int(b) 
print("type of a :",type(a),"value of a:",a)
print("type of b :",type(b),"value of b:",b)
print("\n---------- After Converting ----------\n")
print("type of a :",type(convert_a),"value of a:",convert_a)
print("type of b :",type(convert_b),"value of b:",convert_b)

type of a : <class 'str'> value of a: 21
type of b : <class 'float'> value of b: 22.8

---------- After Converting ----------

type of a : <class 'int'> value of a: 21
type of b : <class 'int'> value of b: 22

In [1]:
# convert the data which has taken through input() into int
#----------------------------------------------------------
num = input("Enter a number:")
print("------Before Converting------")
print(num)
print(type(num))
num = int(num)
print("\n------After Converting------")
print(num)
print(type(num))

Enter a number:12
------Before Converting------
12
<class 'str'>

------After Converting------
12
<class 'int'>

In [20]:
#Now the solution for Question 3
# Accept two numbers, add them to find the sum

In [16]:
#METHOD 1
# -----------
# calculate the sum of two numbers
# get numbers from user
# convert while finding the sum

# OUTPUT
# number 1 = 10
# number 2 = 20
# sum = 30

num_1 = input("number 1 = ")
num_2 = input("number 2 = ")
sum_1 = int(num_1) + int(num_2)
print("sum = ",sum_1)

number 1 = 22
number 2 = 25
sum =  47

In [18]:
# Method 2
#__________________________________
# calculate the sum of two numbers
# get numbers from user
# convert when taking input

# OUTPUT
# number 1 = 10
# number 2 = 20
# sum = 30

num_1 = int(input("number 1 = "))
num_2 = int(input("number 2 = "))
sum = num_1 + num_2
print("sum = ",sum)

number 1 = 10
number 2 = 20
sum =  30

In [22]:
# Method 3
# --------------------------------
# calculate the sum of two numbers
# get numbers from user
# convert while printing

# OUTPUT
# number 1 = 10
# number 2 = 20
# sum = 30

num_1 = input("number 1 = ") # num_1 - Str
num_2 = input("number 2 = ") # num_2 - Str
print("sum = ", (int(num_1) + int(num_2)) )

number 1 = 10
number 2 = 20
sum =  30

<br>      
<br>

**<font color =red>Question 4</font>**      
What will be the output of following code snippet?          
```    
    num = 'a'     
    print(int(num))    
```

In [2]:
# code for question4
num = 'a'
print(int(num))

ValueError: invalid literal for int() with base 10: 'a'

**Explanation:**        
```
    We cannot convert an alphabet/special character into an integer;
    When you try to convert a string value that is not formatted as an integer, 
    the Python interpreter will throw a ValueError  saying invalid literal for int() with base 10.       
    
```

<br>      
<br>

In [3]:
#show some error case1
num = 'a'
print(int(num))

ValueError: invalid literal for int() with base 10: 'a'

In [4]:
#show some error case2
num = '+'
print(int(num))

ValueError: invalid literal for int() with base 10: '+'

In [5]:
#show some error case2
num = '_'
print(int(num))

ValueError: invalid literal for int() with base 10: '_'

<br>      
<br>

### Converting float to int

**Syntax:**    
    `int(value)`----> Integer      
    Where value can be float/str

In [5]:
a = 22.5 # --float
b = "22" # -- str
print(int(a))
print(int(b))

22
22

<br>

### Converting str to float

**Syntax:**    
    `float(value)`----> Float    
    Where value can be int/str

In [7]:
#str to float example1
f = "0.0"
print(float(f))

0.0

In [6]:
#str to float example2
val = float(input("Enter a float number:"))
print(val)
print(type(val))

Enter a float number:10.3
10.3
<class 'float'>

In [8]:
#str to float example3
val = float(input("Enter an integer number:"))
print(val)
print(type(val))

Enter an integer number:13
13.0
<class 'float'>

<br>      
<br>        
<br>

**<font color =red>Question 5</font>**          
What will be the output of following code snippet?      
```    
    num = 'f'      
    print(float(num))      
```

In [9]:
#Code for Question5
num = 'f'
print(float(num))

ValueError: could not convert string to float: 'f'

**Explanation:**        
```      
    We cannot convert an alphabet/special character into float;
    When we try to convert a string value that is not formatted as a floating point number, 
    the Python interpreter will throw a ValueError  saying could not convert string to float.                
    
```

<br>

### Converting int to float

**Syntax:**    
    `float(value)`----> Float    
    Where value can be int/str

In [10]:
#int to float example1
a= 10
print(float(a))

10.0

In [11]:
#int to float example2
x = -12
print(float(x))

-12.0

<br>

### Converting int/float to str

In python, It is possible to convert all types of literals into str type using `str()`

**Syntax:**    
    `str(value)`----> String    
    Where value can be int/float

In [13]:
#example1
print(str(41))
print(str(-25))

41
-25

In [14]:
#example2
num1 = str(63)
num2 = str(99.99)
print(num1)
print(type(num1))
print(num2)
print(type(num2))

63
<class 'str'>
99.99
<class 'str'>

In [17]:
print(num1+num2)

6399.99

In [16]:
#example3
str1 = str(10101010101)
print(str1)
print(type(str1))

10101010101
<class 'str'>

<br>      
<br>

**<font color= Orange>Summary</font>**     

- `str(data)`: For converting any type of data into **string**     
- `int(data)`: For converting any type of data into **integer**     
- `float(data)`: For converting any type of data into **float**     
- `bool(data)`: For converting any type of data into **bool**     


- alphabets and special characters cannot be converted into integer or float

<br>      
<br>     
<br>

**<font color =red>Question 6</font>**      
Write a python program to accept two numbers from user and convert it to float and find the average.

In [1]:
num1 = float(input("Enter number1: "))
num2 = float(input("Enter number2: "))

print("Average=",(num1+num2)/2)

Enter number1: 10
Enter number2: 15
Average= 12.5

<br>      
<br>

**<font color =red>Question 7</font>**     
Accept two alphabets from user and try to add them and print the result.

In [2]:
a = input("Enter an alphabet: ")
b = input("Enter another alphabet: ")
print(a+b)

Enter an alphabet: H
Enter another alphabet: I
HI

**Note:**     
When we try to add two strings using '+' operator, we will get a concatenated string as output.

---

<br>      
<br>     
<br>

# <font color =blue>ACTIVITIES</font>

<br>

<font color =Green>**Light**</font>

1. Write a python program to accept the name, age, class and school from user. Then convert age and class into integer and print all the details into the console.          



2. Accept an integer and a float number from user and find the sum.          



3. In the activity 2, print the result in integer format.

<br>       
<br>

**<font color =Purple>Moderate</font>**         

4. Accept day, month and year of the date of birth from the user and print the date in **dd/mm/yyyy** format.        


5. Accept hour, minute and second of a time from user and print the time in **HH:MM:SS** format.

<br>       
<br>

**<font color =Crimson>Complex</font>**              

6. Consider the following code snippet to find the average of three numbers. But there are some bugs; identify them and fix to get the desired output.
```
   num1,num2,num3 = input("Enter number1, number2 and number3: ")
   sum = num1+num2+num3
   avg = sum/3
   print("Average=",avg)
```    

**<font color =grey>Sample Input:</font>**    
```
   num1 = 5
   num2 = 8
   num3 = 3
```

**<font color =Grey>Expected Output:</font>**     
```
   Average = 5.333333333333333
```

---

<br>

# Answers

In [ ]:
# Activity 1
#-----------

name = input("Enter your name: ")
age = int(input("Enter your age: "))
Class = int(input("Enter your class: "))
school = input("Enter school name: ")

print("Name: ",name)
print("Age: ",age)
print("Class: ",Class)
print("School: ",school)

<br>

In [ ]:
# Activity 2
#-----------

i = int(input("Enter an integer: "))
f = float(input("Enter a float number: "))

print("Sum=",i+f)

<br>

In [ ]:
# Activity 3 : Method 1
#----------------------

i = int(input("Enter an integer: "))
f = float(input("Enter a float number: "))

print("Sum=",int(i+f))

In [ ]:
# Activity 3 : Method 2
#----------------------

i = int(input("Enter an integer: "))
f = float(input("Enter a float number: "))

sum = i+f
sum = int(sum)
print("Sum=",sum)

<br>

In [ ]:
# Activity 4
#-----------

d = input("Enter day of your DOB as two digit: ")
m = input("Enter month of your DOB as two digit: ")
y = input("Enter year of your DOB as 4 digit: ")

dob = d+'/'+m+'/'+y
print("Date of birth:",dob)

<br>

In [ ]:
# Activity 5
#-----------


h = input("Enter hours of time as two digit: ")
m = input("Enter minutes of time as two digit: ")
s = input("Enter seconds of time as two digit: ")

time = h+':'+m+':'+s
print("Time:",time)

<br>

In [ ]:
# Activity 6
#-----------

num1,num2,num3 = input("Enter number1, number2 and number3: "),input(),input()
sum = int(num1)+int(num2)+int(num3)
avg = sum/3
print("Average=",avg)

<br>

--------