# Index   


- **Operators: Part II**        
  1. **Arithmetic Operators**
  2. **Assignment Operators**
  3. **Comparison Operators**
  4. **Logical Operators**
  5. **Identity Operators**
  6. **Membership Operators**
  7. **Bitwise Operators**    
  


- **Activities**

---

# Operators 
#### Part II

Python has the following Operators:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

<br>

## 4. Logical Operators   

The logical operators combine the `True` or `False` value of variables or expressions so that you can determine their resultant truth value. We use logical operators to create boolean expressions which important in decision making.    

- They perform 
    - Logical AND
    - Logical OR
    - Logical NOT Operations

### 1. AND Operator

```
a=10 
b=20
a>10 and b>10
```

In the above expression, there are two boolean expressions separated by AND. depends upon the Truth value of both the expressions, AND operator will give a final Truth value. Here `a>10` is False as a =10 and `b>10` is True as b =20.
As a result the expression will become: `False and True` which gives a final Truth value of `False` as per the Truth Table of AND operator. The Truth Table of AND operator is decsribed below: 

<br> 


LHS | RHS | OUTPUT |
---|---|---|
False|False|False|
False|True|False|
True|False|False|
True|True|True|


In general, AND operator will give a `True` output only when both the operands/expressions are `True`.    
If any one of the operands/expressions is `False` Truth value will be `False`.

<br>
<br>

**<font color=Crimson>Note for Mentor:</font>**      
- Ask the students for some real-world situation where we perform and operation to take a decision.

- Consider the following sentence in English:    
If itâ€™s sunny outside and you have a car, then you can go for an outing.   
Mentor can explain the truth table of above sentence as follows:   
| Sunny or not | have a car or not | can go for outing or not |
| ---- | ---- | ---- |
| Sunny | have a car | can go for outing |
| Sunny | no car | cannot go for outing |
| not sunny | have a car | cannot go for outing |
| not sunny | no car | cannot go for outing |

<br>
<br>

In [16]:
print(True and False)

False

In [17]:
print( False and True)

False

In [19]:
print(True and True)

True

In [23]:
print(1 and 0)

0

In [3]:
a=10 
b=20

print(a>0 and b>10)

True

In [5]:
# To check a number is single digit or not?
### and operator
a = 5
print(a>=0 and a<10)

b = 11
print(b>=0 and b<10)

True
False

In [6]:
name = 'Rohith'
gender = 'Male'
age = 21
print(gender=='Male' and age>=18)

True

<br>

**<font color=brown>Note:</font>**        
When we use logical `and` operator both the side of the expression has to be `True` to get a `True` output.      
If any side of the expression is `False`, Output will be `False`.

<br>
<br>

### 2. OR Operator

```
a=10 
b=20
a>10 or b>10
```
In the above expression, there are two boolean expressions separated by Logical OR. Depends upon the Truth value of both the expressions, OR operator will give a final Truth value. Here `a>10` is False as a =10 and `b>10` is True as b =20.
As a result the expression will become: `False or True` which gives a final Truth value of `True` as per the Truth Table of OR operator. The Truth Table of OR operator is decsribed below: 

<br>



LHS | RHS | OUTPUT |
---|---|---|
False|False|False|
False|True|True|
True|False|True|
True|True|True|    


In general, Logical OR operator will give a `True` output if any one of the operands/expressions is `True`.    
It gives an output of `False` only when both the operands/expressions are `False`.  

Now let see how logical `OR` working in python.

<br>
<br>

**<font color=Crimson>Note for Mentor:</font>**       
- Ask the students for some real world situation/statement in which logical OR can be implemented.      
- Consider the following statement written in English:         
For you to get an off day, either it's must be a public holiday or your mentor should be on leave.     
Mentor can explain the truth table of above sentence as follows:     
| Public holiday/not | mentor is on leave/not | Off day/not |
| ---- | ---- | ---- |
| public holiday | on leave | off day |
| public holiday | not on leave | off day |
| Not a public holiday | on leave | off day |
| Not a public holiday | not on leave | not an off day |

Now let see how Logical OR wroking in python.    
<br>

<br>

In [9]:
print(True or True)

True

In [12]:
print(True or False)

True

In [13]:
print(1 or 0)

1

In [14]:
print(True or abcd)

True

In [8]:
a = 10
b = 5


print(b<a or b==a)

True

In [1]:
option = 'y'
print( option=='y' or option=='Y')   # here final bool expression is True or False => True

True

In [2]:
color = 'blue'

print( color== 'black' or color == 'white')    # here final bool expression is False or False => False

False

<br>

**<font color=brown>Note:</font>**        
When we use logical `OR` operator if any one side of the expression is `True`, output will be `True`.         
Output will be `False` only when both the side of the expression is `False`

<br>
<br>

### 3. NOT Operator

```
a=10 
b=20

not(a>b)
```
In the above expression, there is one boolean expression negated using NOT operator. Depends upon the Truth value of the expression , NOT operator will give a final Truth value. Here `a>10` is False as a =10 and b =20. 
As a result the expression will become: `not False` which gives a final Truth value of `True` as per the Truth Table of NOT operator. The Truth Table of NOT operator is decsribed below:

| Operand's Truth value | Output |
| -------- | -------- |
| True | False |
| False | True |

In general we can say that, `Not` is the negation operator. Whcih gives True output when input is False and False output when input is True. It's as simple as that.

<br>
<br>

**<font color=Crimson>Note for Mentor:</font>**     
- Ask the students for some real world situation/statement in which logical NOT can be implemented.          
- Consider the following statement written in English:      
If there is no power supply in house, Inverter battery will start working.        
Mentor can explain the truth table of above sentence as follows:        
| power supply is there/not | Inverter will work/not |
| ------------------------- | ---------------------- |
| Power supply is there | Inverter will not work |
| Power supply is not there | Inverter will work |

<br>

In [27]:
not True

False

In [28]:
not False

True

In [ ]:
a = 10
b = 20
print(a>b)
print(not(a>b))

<br>
<br>

**<font color=orange>Summary:</font>**   
The following table will give a summary of logical operators.     

| Operator | Description | Truth Table |
| ----- | ----- | ----- |
| **and** | Determines whether both the operands are True | True and True => True      |
|       |                                               | True and False => False    |
|       |                                               | False and True => Fasle    |
|       |                                               | False and Fasle => Fasle   |
| | | |
| **or**  | Determines when one of two operands is True.  | True and True => True      |
|       |                                               | True and False => True     |
|       |                                               | False and True => True     |
|       |                                               | False and Fasle => Fasle   |
| | | |
| **not** | Negates the truth value of a single operand.  | not True => False          |
|       |                                               | not False => True          |



<br>
<br>

<br>
<br>

**<font color=red>Question 1</font>**      
Predict True or False     
```
    a=10
    b=5
    c=8
    print("1: ",(a<b)and(b>c))
    print("2: ",(a>=b)or(b>=c))
    print("3: ",(a-b)>=(b+c))
    print("4: ",(a>b) and (b<=c) and (c<b))
```

In [3]:
a=10
b=5
c=8
print("1: ",(a<b)and(b>c))
print("2: ",(a>=b)or(b>=c))
print("3: ",(a-b)>=(b+c))
print("4: ",(a>b) and (b<=c) and (c<b))

1:  False
2:  True
3:  False
4:  False

<br>

**<font color=red>Question 2</font>**        
Accept three numbers from user say A,B and C.           
Print True if A is greatest among them else False.

In [6]:
a = int(input("Enter number1: "))
b = int(input("Enter number2: "))
c= int(input("Enter number3: "))
print(a>b and a>c)

Enter number1: 10
Enter number2: -345
Enter number3: 0
True

<br>
<br>

## 5. Identity Operator

Identity operators can be used for two purposes. First usage is to determine whether a value or expression is of a certain class or type and the second usage is to check whether two values are located in same part of the memory.    
`is` and `is not` are the identity operators both are used to check if two values are located on the same part of the memory.   
There are two identity operators in python:
- is
- is not   
<br> 
> Two variables that are equal does not imply that they are identical

#### is operator:    

Usage 1::       
- True, if the given operand/expression belongs to the given class.
- For example,       
Expression `type(10) is int` will give `True` as output.    
<br>

Usage 2::   
- True, if the operands are identical    
- i.e Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.  
- For example,    
```
    Expression (a is b) return True if id(a) = id(b) 
    Where id(var) is used to get the memory location of that particaluar varaiable.   
```
<br>
<br>

#### is not operator: 

Usage 1::     
- True, if the given operand/expression NOT belongs to the given class.
- For example,       
Expression `type(10) is not str` will give `True` as output.    
<br>

Usage 2::       
- True if the operands are not identical    
- i.e Evaluates to False if the variables on either side of the operator point to the same object and true otherwise.   
- For example,  
```
    Expression (a is b) return True if id(a) â‰  id(b)
```
<br>

In [6]:
a = 10
b = 10
print( id(a))
print( id(b))

140723002882112
140723002882112

In [2]:
# as strings are not mutable they occupy the same memory
a = "name"
b = "name"
print(a is b)
print(a==b)

True
True

In [3]:
print(id(a))
print(id(b))

2871522111344
2871522111344

In [9]:
# To check the type()
a = 10
b = 'Python'
c = 25.5

print(type(a) is int)
print(type(b) is str)
print(type(c) is int)

False
True
True
False

<br>

**<font color=Crimson>Note for Mentor:</font>**           
You can show them few examples of `is` and `is not` with the help of `id()` function.

<br>

In [32]:
a = 3
b = 3
print(a is b)

True

In [31]:
# as the lists elements can be changed they do not occupy the same memory
a = [1,5,3]
b = [1,5,3]
print(a is b)

False

<br>

**<font color=Brown>Note:</font>**               
`is` and `is not` can also be used to check the type of a variable belongs to a given class.       
i.e      
```     
   a = 'Indian'        
   b = 10        
   print( type(a) is str )        
   print( type(b) is not float)        
``` 
   **<font color=Grey>Expected Output:</font>**           
```
   True
   True
```

<br>
<br>

## 6. Membership Operator

The membership operators detect the appearance of a value within a sequence and then output the truth value of that appearance. Where a sequence can be a list, a string , a tuple , a dictionary etc.   
There are two membership operators in python: `in` and `not in`.   
<br>

#### in:   
- Returns true if the specified value/element present in the sequence.       
- For example:        
```    
    13 in [11,13,15,17,19] , returns True     
    21 in [11,13,15,17,19], returns False       
```        

#### not in:   
- Returns true if the specified value/element not present in the sequence.         
- For example:       
```     
    'm' not in 'apple' , returns True       
    'p' not in 'apple' , returns False       
    
```

<br>

In [46]:
nums = [1,2,3,4,5]
1 in nums
10 not in nums

True

In [47]:
6 in [10,9,8,7,6,5,4,3,2,1]

True

In [43]:
n = "name"
"g" in n

False

In [48]:
word = 'querty'
print('r' in word)

True

In [42]:
week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
'Thursday' in week

True

In [45]:
tup = (10,20,30,40,50)
print(20 in tup)
print(200 in tup)

True
False

<br>
<br>

**<font color=Crimson>Note for Mentor:</font>**        
Before start explaining the precedence and associativity of python operators, ask them to predict the output ofthe following mathematical expression written in python:   
```
    a = 2    
    b = 5    
    c = 0   
    d = 1
    result = a+b*c/d-a
    print(result)     
```
After getting the answers from students, mentor can run the same code and show them the result.   

After this example mentor can start explaining what is the order of operation in python as follows:    

<br>

<br>      
<br>

## Order of  Operation      
When we create some simple statements that contain just one operator, the order of determining the output of that operator is also simple. However, when we start working with multiple operators, it becomes necessary to determine which operator to evaluate first. In order to address this case python has some rules regarding the Order or Precedence of Operators. 
When two operators have the same precedence, associativity helps to determine the order of operations. 
Simlaryly associativity is the order in which an expression is evaluated that has multiple operators of the same precedence. Almost all the operators have left-to-right associativity.   

The precedence and associativity of python operators are described in the following table in which all the operators listed from highest precedence to lowest.      
    

Operators | Description | Associativity 
-----|----|-----
( )	|Parentheses | 	left-to-right 
**	|Exponent| 	right-to-left
+ - |Unary Operators | 
*  /  %|	Multiplication/division/modulus|	left-to-right
+  -	|Addition/subtraction|	left-to-right
<<  >>	| Bitwise shift left, Bitwise shift right|	left-to-right
>  >=  > >=| Relational less than/lesser  than or equal to|	left-to-right
 | Relational greater than/greater  than or equal to| 
==  !=|	Relational is equal to/is not equal to|	left-to-right
is, is not | Identity Operator | left to right
in, not in | Membership Operator | 
not | Logical NOT | left to right 
and | Logical AND | left to right
or | Logical OR | left to right
= += -= | Assignement operators | right to left

In [53]:
20*5-2/(2*1)+3

#20*5-2/2+3
#100-2/2+3
#100-1.0+3
#99.0+3
#102.0

102.0

In [59]:
4+3**2 *(20/5)

40.0

In [8]:
#example with some mathematical expressions
a = 10
b = 5
c = 2
d = 1

exp1 = a+b*c/d
exp2 = (a+b)*c/d
exp3 = a+b*(c/d)
exp4 = (a+b)*(c/d)

print(exp1)
print(exp2)
print(exp3)
print(exp4)

20.0
30.0
20.0
30.0

In [49]:
# Left-right associativity  
# 50 / 2 * 10 is calculated as   
print(50 / 2 * 10)  
    
# Left-right associativity  
# 4 - 2 + 3 is calculated as   
print(4 - 2 + 3)   
    
# right-left associativity  
# 5 ** 2 ** 2 is calculated as   
# 5 ** (2 ** 2) and not as (5 ** 2) ** 2  
print(5 ** 2 ** 2)

250.0
5
625

<br>
<br>

**<font color=red>Question 6</font>**     
What will be the correct output select from the options.       
```
    a=10
    b=0
    c=2
    d=5
    result = a-d+b//d*c**2
    print(result)
```
<b><font color=blue>
&emsp; &emsp; A. 0   
&emsp; &emsp; B. 6   
&emsp; &emsp; C. 5   
&emsp; &emsp; D. 5.0   
</font></b>

---

<br>     
<br>

# <font color=Blue>ACTIVITIES</font>

<br>

**<font color=Green>Light</font>**

1. Accept a name from user and Print `True` if **Blank Space** is present in the name.   


2. Accept a number from user and print `True` if it is a three digit number.   


3. Accept an alphabet from user and print `False` if it is not a vowel.

<br>     
<br>

**<font color=Purple>Moderate</font>**

4. Consider a list containing all the prime numbers between 10 and 30.   
   A. Print `True` if 17 is present.   
   B. Print `False` if 29 is not present.

5. Consider the following code snippet, find the errors and fix them.      
```
   data1 = 'age'
   data2 = 25
   Print 'True' if type of data1 is str
   Print 'True' if type of data2 is not float   
```

<br>     
<br>

**<font color=Crimson>Complex</font>**

6. Accept the values of `a`,`b` and `c` of a quadratic equation of the form `axÂ² + bx + c = 0`, where `a` â‰  0.   
   A. Print the equation in the above mentioned format   
   B. Find the determinant of the equation   
   C. Print True if the equation has real roots.     
   <font color=Crimson>**Hint:**</font>   
   determinant = bÂ² - 4ac   
   square can be denoted as ^2 while printing


<br>
<br>

----

# Answers

In [9]:
# Activity 1
name = input("Enter the name: ")
print(' ' in name)

Enter the name: Rahul Sharma
True

<br>

In [10]:
#Activity 2
num = int(input("Enter a number: "))
print(num>=100 and num<=999)

Enter a number: 234
True

<br>

In [11]:
#Activity 3 :: Method 1
letter = input("Enter an alphabet: ")
print('a' == letter or 'e' == letter or 'i'==letter or 'o'==letter or 'u'==letter)

Enter an alphabet: f
False

In [12]:
#Activity 3 :: Method 2
letter = input("Enter an alphabet: ")
print(letter in 'aeiou')

Enter an alphabet: h
False

<br>

In [15]:
#Activity 4
lis = [11,13,17,19,23,29]
print(17 in lis)
print(29 in lis)

True
True

<br>

In [16]:
#Activity 5
data1 = 'age'
data2 = 25
print(type(data1) is str)
print(type(data2) is not float)

True
True

<br>

In [1]:
# Activity 6
#------------

a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

eqn = str(a)+'x^2+'+str(b)+'x+'+str(c)+'=0'
print("Equation: ",eqn)

determinant = (b**2) - (4*a*c)
print("Determinant=",determinant)
print(determinant>=0)

Enter a: 1
Enter b: 5
Enter c: 6
Equation:  1x^2+5x+6=0
Determinant= 1
True

------