Create a recursive function to calculate the sum of numbers from 0 to 50.

A recursive function is a function that calls itself again and again.

In [ ]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

result = addition(50)
print(result)

1275

Write a Python program to convert the lists into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# empty dictionary
res_dict = dict()

for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

In [ ]:
sample_dict = {
    "name": "Junaid",
    "age": 29,
    "salary": 8000,
    "city": "New Jersey"}

# keys to extract
keys = ["name", "salary"]

# new dict
result = dict()

for k in keys:
    # add current key with its va;ue from sample_dict
    result.update({k: sample_dict[k]})
print(result)

{'name': 'Junaid', 'salary': 8000}

Swap the two tuples

In [ ]:
tuple1 = (10, 50)
tuple2 = (90, 60)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(10, 50)
(90, 60)

Accept a list of five float numbers using for loop and print it

In [ ]:
float_numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    float_numbers.append(item)

print("List of float numbers:", float_numbers)

Enter number at location 0 :
4.5
Enter number at location 1 :
3.6
Enter number at location 2 :
56.98
Enter number at location 3 :
43.77
Enter number at location 4 :
23.7
List of float numbers: [4.5, 3.6, 56.98, 43.77, 23.7]

Write a program to take three names as input from a user in the single input() function call.

In [ ]:
str1, str2, str3 = input("Enter three names separated by space :").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three names separated by space :Amar Akbar Antony
Name1: Amar
Name2: Akbar
Name3: Antony

Write a program to reverse the given dictionary mapping

In [15]:
old_dict={'A':'a','B':'b','C':'c'}
new_dict={}
for key,value in old_dict.items():
   new_dict.update({value:key})
print(new_dict)

{'a': 'A', 'b': 'B', 'c': 'C'}