### Index
- Creating a tuple
- Getting individual elements
- Slicing of elements
- changing elements inside a list and changing elements inside a tuple
- Operators in tuple
    - `+`
    - `*`
- Deleting elements
- Unpacking a tuple

# TUPLES

- Ordered
- immutable

Make a list and print the list and see its type
- Also check on the brackets used

In [22]:
# making a list and printing 
new_list=["name","yes","test"]
print(type(new_list),new_list)

<class 'list'> ['name', 'yes', 'test']

## Creating a tuple
tuple can be created similar to creating a list
- The square brackets [] has to be changed with ()
```
name_of_tuple = (value,value..)
```

In [8]:
t = ()
print(type(t))
t1 = "a","b","c"
print(type(t1))
t2 = ("a","b","c")
t4 = [1,2,3,4]
print("type of t4",type(t4))
t5 = tuple(t4)
print(type(t5))

<class 'tuple'>
<class 'tuple'>
type of t4 <class 'list'>
<class 'tuple'>

In [3]:
# making a tuple and 
new_tuple = ("name","yes","test")
print(new_tuple)

('name', 'yes', 'test')

In [2]:
print(type(new_tuple),new_tuple)

<class 'tuple'> ('name', 'yes', 'test')

## Getting individual elements

In [4]:
new_tuple[0]

'name'

In [5]:
new_tuple[1]

'yes'

In [6]:
new_tuple[2]

'test'

<b><font color =red>Question 1</b></font> <br>
- Make a tuple with a single element
<hr>

**Hint**
```
Understand what the type of the value is :
> a = ("mango") --> what is the type of a

```

In [12]:
new_tuple = (5,)
print(type(new_tuple),new_tuple)

<class 'tuple'> (5,)

In [14]:
new_tuple = (5)
print(type(new_tuple),new_tuple)

<class 'int'> 5

In [19]:
new=("name","yes","test","now","last")
type(new)
print(new[1:3])

('yes', 'test')

In [20]:
tuple_1 = (1,2,3)
tuple_2 = (1,2,3)
tuple_1 == tuple_2

True

### Slicing of Elements

In [26]:
new_tuple = (0,1,2,3,4,5,6,7,8)
print(new_tuple[1:])
print(new_tuple[0:4])
print(new_tuple[0:8:2])
a = new_tuple[1:3]
print("a:",a)

(1, 2, 3, 4, 5, 6, 7, 8)
(0, 1, 2, 3)
(0, 2, 4, 6)
a: (1, 2)

## Changing Elements in a LIST

In [27]:
a_list = [0,1,2,3,4,5,6,7,8]
a_list[2] = "changed"
print(a_list)

[0, 1, 'changed', 3, 4, 5, 6, 7, 8]

## Changing Element in a tuple

In [29]:
a_tuple = (0,1,2,3,4,5,6)
print("Value at Index: 02 ",a_tuple[2])
a_tuple[2] = "changed"
print(a_tuple[2])

Value at Index: 02  2

TypeError: 'tuple' object does not support item assignment

## Operators in tuple

# Operator " + " with tuple

In [30]:
a_tuple = (1,2,3)
b_tuple = (4,5,6)
new_tuple = a_tuple + b_tuple
print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
t_3 = 1,2,3
print(t_3*3)

# Operator " * " with tuple

In [31]:
a_tuple = (1,2,3)
print(a_tuple*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

------

In [38]:
name = []
score_list = []
for a in range(1,5):
    data = input("Enter your name:")
    score = int(input("Enter score:"))
    name.append(data)
    score_list.append(score)
max_score = max(score_list)
index = score_list.index(max_score)
print(name[index],score_list[index])

Enter your name:a
Enter score:10
Enter your name:b
Enter score:20
Enter your name:c
Enter score:30
Enter your name:d
Enter score:40
d 40

## Deleting

In [10]:
t_2 = (1,2)
print(t_2)
del t_2
print(t_2)

(1, 2)

NameError: name 't_2' is not defined

### Unpacking

In [11]:
tuple_3 = 1,2,3
print(tuple_3)

(1, 2, 3)

In [12]:
tuple_3[0]

1

In [13]:
tuple_3[1]

2

In [14]:
tuple_3[2]

3

In [15]:
a,b,c = tuple_3
print(a)
print(b)
print(c)

1
2
3

In [20]:
# Unpacking
def circle(rad):
    c = 2 * 3.14 * rad
    a = 3.14 * rad * rad
    return a,c

out = circle(3)

print("out",out)
print("out",type(out))
# ---------------------
Out_2 = circle(2)

out (28.259999999999998, 18.84)
out <class 'tuple'>

In [19]:
# Unpacking
def circle(rad):
    c = 2 * 3.14 * rad
    a = 3.14 * rad * rad
    print("c",c)
    print("a",a)
circle(3)

c 18.84
a 28.259999999999998

In [21]:
tuple_4 = 1,2,23,34,4,45,5,6,5
for a in tuple_4:
    print(a)

1
2
23
34
4
45
5
6
5

In [22]:
tuple_4 = 1,2,23,34,4,45,5,6,5
x=0
while x<len(tuple_4):
    print(tuple_4[x])
    x=x+1

1
2
23
34
4
45
5
6
5

In [26]:
name = ["ifna","niharika","bashid","muhammed","thulasi","archana"]
print(name)
name.sort()
print(name)
name.sort(reverse = True)
print(name)

['ifna', 'niharika', 'bashid', 'muhammed', 'thulasi', 'archana']
['archana', 'bashid', 'ifna', 'muhammed', 'niharika', 'thulasi']
['thulasi', 'niharika', 'muhammed', 'ifna', 'bashid', 'archana']

In [27]:
name = ["ifna","niharika","bashid","muhammed","thulasi","archana"]
last_name = []
for n in name:
    a = n[-1]
    last_name.append(a)
print(name)
print(last_name)

['ifna', 'niharika', 'bashid', 'muhammed', 'thulasi', 'archana']
['a', 'a', 'd', 'd', 'i', 'a']

In [33]:
name = ["ifna","niharika","bashid","muhammed","thulasi","archana"]
last_name = []
for n in name:
    a = n[-1],n
    last_name.append(a)
print(last_name)
print("--------------------------------------------")

last_name.sort()
print(last_name)
print("--------------------------------------------")

new_name = []
for a in last_name:
    lastName , Name = a # --------> Unpacking
    new_name.append(Name)
print(new_name)

[('a', 'ifna'), ('a', 'niharika'), ('d', 'bashid'), ('d', 'muhammed'), ('i', 'thulasi'), ('a', 'archana')]
--------------------------------------------
[('a', 'archana'), ('a', 'ifna'), ('a', 'niharika'), ('d', 'bashid'), ('d', 'muhammed'), ('i', 'thulasi')]
--------------------------------------------
['archana', 'ifna', 'niharika', 'bashid', 'muhammed', 'thulasi']

In [34]:
t = [2,5,6,7,1,7,8,5,8]
t.sort()
print(t)

[1, 2, 5, 5, 6, 7, 7, 8, 8]

In [35]:
t.sort(reverse=True)

In [36]:
print(t)

[8, 8, 7, 7, 6, 5, 5, 2, 1]

In [5]:
a = 1,2,3
t,b = a

ValueError: too many values to unpack (expected 2)